*{
    padding: 0px;
    margin: 0px;
}

.content-wrapper{
    max-width: 80vw;
    margin: auto;
}



.main-container{
    background-color: #282c34;
    min-height: 100vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
}


.main-container .items-cart-container{
    display: grid;
    grid-template-columns: 5fr 5fr;
    gap: 20px;
}


.shipping-methods{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 50px 0px;
}

.shipping-method{
    height: 24px;
    padding: 10px;
    background-color: #cce;
    margin: 0px 10px;
    color: black;
    border-radius: 8px;
    display: flex;
    align-items: center;
}